.common-form-header-container{
    background-color: red;
}

.form-header{
    display: flex;
    
}
.steps{
    border: 1px solid grey;
}
.steps.selected{
    background-color: aqua;
}
.meal-selection-container,.people-selection-container{
    display: flex;
    flex-direction: column;
}