@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@700&family=Libre+Baskerville:wght@700&family=Roboto+Mono:wght@600&family=Zen+Dots&display=swap');

html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Crimson Text', serif; */
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Roboto Mono', monospace;
    /* background-image: radial-gradient(circle, #767dec, #dd6cd0, #ff699b, #ff8863, #ffb538, #ffb82c, #ffbb1d, #ffbe00, #ff8f34, #ff556d, #ff21af, #f043f3); */
    background-image: linear-gradient(to right top, #cb210a, #db5a00, #e58600, #eab000, #ead82b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

select {
    margin: 3px;
    width: 180px;
    padding: 5px;
    font-size: 14px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    background: url(https://img.icons8.com/external-flat-land-kalash/64/null/external-food-food-flat-land-kalash-18.png) 96% / 14% no-repeat #f3eded;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

select:hover,
select:focus {
    border: none;
    outline: none;
}

input[type="number"] {
    background: transparent;
    border: 1px solid grey;
    margin: 2px;
    height: 21px;
    border-radius: 5px;
    padding-left: 128px;
    font-size: 16px;
    font-weight: 600;
}

input[type="number"].servings {
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    height: 21px;
    width: 30px;
    padding: 0;
    border: none;
    outline: none;

}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} */
label {
    margin: 5px;
}

.order-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.order-form {
    height: 100%;
    width: 100%
}

.steps-header-container {
    position: sticky;
}

.main-form {
    display: block;
    height: 100%;
    width: 100%;
    margin-inline: auto;
    border-radius: 4px;
    box-shadow: none;
    background: #fff;
    transform-origin: center center;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: black;
    box-shadow: -19px 0px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.order-first-step,
.order-second-step,
.order-third-step,
.order-fourth-step {
    height: 100%;
    width: 100%;
}

.common-form-header-container {
    background-color: red;
}


.form-header {
    display: flex;
}

.steps {
    border: 1px solid grey;
}

.steps.selected {
    background-color: aqua;
}

.meal-selection-container,
.people-selection-container,
.selected-dishes-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 20px;
}

.body-cards-portion {
    position: relative;
    height: max-content;
    padding: 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-message {
    color: red;
    font-size: 10px;
    margin-top: 3px;
}

.final-order-card {
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 #aaa;
    padding: 12px;
    text-transform: capitalize;
}

.steps-form-container {
    overflow-y: auto;
    height: 380px;
}

.btn-container {
    text-align: right;
}

.steps-btn-container {
    padding: 10px
}

.double.steps-btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    background-color: rgb(108 36 203);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s
}

.btn.submit-btn {
    background-color: rgb(45 201 46);
}

.btn.submit-btn:hover,
.btn.submit-btn:focus {
    background-color: rgb(7, 126, 7);
}

.btn:hover,
.btn:focus {
    scale: 1.1;
    background-color: rgb(71, 4, 160);
}

.add-dishes-btn-container {
    display: flex;
    justify-content: center;
}

.add-dish-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    font-size: 11px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
}

.add-dish-btn:hover {
    fill: #15e115;
    color: #15e115
}

.selected-dish-container {
    display: flex;
    margin-bottom: 5px;
    padding: 5px 14px;
    border-color: transparent;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.serving-selection-container {
    text-align: center;
}

.final-selected-restaurant-container,
.final-selected-no-of-people-container,
.final-selected-meal-type-container,
.final-selected-dishes-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.selected-dishes-content {
    display: flex;
    flex-direction: column;
    border: 1px dotted grey;
    padding: 10px;
    border-radius: 10px;
}

.selected-dish,
.selected-dish-labels {
    display: flex;
    justify-content: space-between;
}

.selected-dish {
    font-size: 13px;
}

.selected-dish-labels {
    margin-bottom: 3px;
}

.servings-amount,
.servings-amount-label {
    margin-left: 10px;
}