@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@700&family=Libre+Baskerville:wght@700&family=Roboto+Mono:wght@600&family=Zen+Dots&display=swap');


html {
    height: 100%;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
	}

body{
       /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Crimson Text', serif; */
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Roboto Mono', monospace;
    /* background-image: radial-gradient(circle, #767dec, #dd6cd0, #ff699b, #ff8863, #ffb538, #ffb82c, #ffbb1d, #ffbe00, #ff8f34, #ff556d, #ff21af, #f043f3); */
    background-image: linear-gradient(to right top, #cb210a, #db5a00, #e58600, #eab000, #ead82b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
select {
    margin: 3px;
    width: 180px;
    padding: 5px 35px 5px 5px;
    font-size: 15px;
    height: 36px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:5px;
    background: url(https://img.icons8.com/external-flat-land-kalash/64/null/external-food-food-flat-land-kalash-18.png) 96% / 15% no-repeat #f3eded;
    cursor: pointer;
  }
  select:hover,select:focus{
    border: none;
    outline: none;
  }

  input[type="number"]{
    background: transparent;
    border: 1px solid grey;
    margin: 2px;
    height: 21px;
    border-radius: 5px;
    padding-left: 12px;
    font-size: 16px;
    font-weight: 600;
  }
  label{
    margin-bottom:2px;
  }
  
.order-form-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:300px;
    width:300px;
}
.order-form{
 height:100%;
 width:100%

}
.steps-header-container{
    position: sticky;

}
.main-form{
    display: block;
    height:100%;
 width:100%;
    margin-inline: auto;
    border-radius: 4px;
    box-shadow: none;
    background: #fff;
    transform-origin: center center;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: black;
    /* background-image: linear-gradient(to right top, #13095c, #2f468b, #5f81b2, #a1bcd5, #f1f6f9); */
    box-shadow: -19px 0px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.order-first-step,.order-second-step,.order-third-step,.order-fourth-step{
    height:100%;
    width:100%;
}
.common-form-header-container{
    background-color: red;
}


.form-header{
    display: flex;
    
}

.steps{
    border: 1px solid grey;
}
.steps.selected{
    background-color: aqua;
}
.meal-selection-container,.people-selection-container{
    display: flex;
    flex-direction: column;
    margin-top:5px;
    padding:20px;
}

.body-cards-portion{
    position: relative;
    height:max-content;
    padding:10px;
}

.card-container{

}

.card{
    
box-shadow: 0 3px 10px 0 #aaa;
}
.steps-form-container{
    overflow-y: auto;
    height:250px;
}
.btn-container{
    text-align:right;
}
.steps-btn-container{
    margin:0 10px;
}
.double.steps-btn-container{
  display: flex;
  justify-content: space-between;
}
.btn{
    display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  background-color: rgb(108 36 203);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s
}
.btn.submit-btn{
    background-color: rgb(45 201 46);
}
.btn.submit-btn:hover,.btn.submit-btn:focus{
    background-color: rgb(7, 126, 7);

}
.btn:hover,.btn:focus{
    /* border-color: rgb(243, 240, 240); */
  scale: 1.1;
  background-color: rgb(71, 4, 160);

}